doctype html
html
  head
    title= title
    meta(name='google-signin-client_id' content='1081759082696-dkk7it00tvkg0iu5jr54rlge54d49iks.apps.googleusercontent.com')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://apis.google.com/js/platform.js' async defer)
    script(src='/javascripts/on-sign-in.js')
  body
    block content
